html {
    height: 100%;
}
body {
    height: 100%;
    background: url(../img/background.png) repeat;
    font: normal 1em 'fira_sanslight';
    color: #4a545d;
}

/* footer */
.page-footer {
    /*background: #eff3f7 url(../img/line.png) top center no-repeat;*/
    font-family: : 'fira_sanslight';
    color: #4a545d;
}
.page-footer .container {
    padding-top: 23px;
    position: relative;
}
.page-footer .copyright {
    margin: 0 180px;
    padding-top: 7px;
    text-align: center;
    font-size: 13px;
}
/* login */
.page-footer .lock {
    position: absolute;
    top: 26px;
    left: 20px;
}
.lock .lock-inner {
    display: block;
    height: 40px;
    font-family: 'fira_sansbook';
    font-size: 16px;
    line-height: 2.2;
    color: #4a545d;
    text-decoration: none;
    background: url(../img/lock-close.png) no-repeat;
    padding-left: 24px;
}
.lock .lock-inner:hover {
    text-decoration: underline;
    background: url(../img/lock-open.png) no-repeat;
}
/* #login */
/* footer-go-down */
.wrapper {
    position: relative;
    min-height: 100%;
    min-width: 970px;
    height: auto !important;
    overflow: hidden;
}
.wrapper:after {
    content: "";
    height: 80px;
    display: block;
}
.page-footer {
    min-width: 970px;
    height: 80px;
    margin-top: -80px;
}
/* #footer-go-down */

/* #footer */

/* common */
.container {
    width: 960px;
    margin: 0 auto;
}
.text-center {
    text-align: center;
}
.pull-left {
    float: left !important;
}
.pull-right {
    float: right !important;
}
/* celarfix */
.container:befor, .clearfix:before,
.conrainer:after, .clearfix:after {
    content: " ";
    display: table;
}
.container:after, .clearfix:after {
    clear: both;
}
/* #celarfix */
/* #common */